<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <button class="side-btn" onclick="window.location.href='/chat'">
    <h2> To use the chat you first need to type something in the box and then press send or hit enter. The ai will response in 20-30 seconds (slowest) and 2 seconds (fastest)</h2>
    <img src="{{ url_for('static', filename='c1.png') }}" alt="ChatBox">
    <br>
    <br>
    <h2>To use the image generation, you need to type something in the chat box and then press the drawing button. DO NOT PRESS SEND. But unfortunately this feature is not available right now</h2>
    <img src="{{ url_for('static', filename='C2.png') }}" alt="Chatbox and IMG">
    <br>
    <br>
    <h2>To upload photo, you can choose the camera button and then choose your photo file but if it doesnt display, Do not panic because thats how the system are designed to save some space. but you will still receive the answer from the ai. so no need to panic at all</h2>
    <img src="{{ url_for('static', filename='IMGpng.png') }}" alt="Photo">
</body>
</html>
